.footer{
  background:rgba(0,0,0,.8);
  text-align: center;
  margin-bottom: -25px;
  margin-top: 25px;
  color: #eeeeee;

  .footer-body {
    min-height: 98px;
    position: relative;
    > p {
      padding: 0;
      margin: 0;
      > a {
        color: #eeeeee;
        text-decoration: none;
      }
    }
    > img {
      max-width: 150px;
      margin: 0 auto;
      @media (max-width: 768px) {
        width: 100px;
      }
    }
    :last-child{
      margin-bottom: 25px;
    }
  }
}

