$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
// endbower
//@import 'reset';

// Variables Colores
$color-nav-base: #403a6b;
$color-realce: #663b74;
$auxiliar: #D94D9B;
$color-constraste: #2F60AD;

@import 'nav';
@import 'sidebar';
@import 'footer';
@import 'modals';
@import 'treeview';
@import 'loader';
@import 'datepicker';

html {
  -webkit-text-size-adjust: 100%
}
body {
  background: #000000;
  font-family: Ubuntu;
  font-size: 14px;
}
#user{
  margin: 0;
  ul{
    margin: 0;
    li > a{
      color: #eeeeee;
      text-decoration: none;
    }
  }
}
.header {
  background: black url('../images/bg.jpg') repeat-x center;
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
  background-position: top;
  background-size: 50%;
  @media (max-width: 768px) {
    background-size: 100%;
  }
}

.wrap {
  padding-top:15px;
  margin:0 0 35px 0;
  margin:0 auto;
  width: auto;
  background:rgba(0,0,0,.5);

  .social{
  position: relative;

    ul>li{
      >a{
        color: white;
        padding: 0px 6px 0;
        margin: 5px 0 0;
        font-size: 1.5em;
        opacity: 0.8;

        &:hover{
          opacity: 1 !important;
        }
      }
    }
  }

  @media (min-width: 768px) {
    width: 990px;
  }

  > div.row  {
    > div > a  > img {
    max-height: 250px;
    margin:0 auto;
    }

    .contact-header {
      ul{
        a:hover{
          text-decoration: none;
        }
        @media (max-width: 786px) {
          margin-top: 20px;
          >li{
            h1, i {
              font-size: 100%;
              margin: 0;
              color: #eeeeee;
            }
          }
        }
        @media (max-width: 786px) and (orientation: landscape) {
          margin-top: 15%;
          >li{
            h1, i {
              font-size: 150%;
            }
          }
        }

        >li{
          margin: auto;
          @media (min-width: 786px) {
            margin-top:25px;
            h1, i {
              font-size: 36px;
              margin:0;
              color: #eeeeee;
            }
          }
          .media-left,
          .media-right,
          .media-body {
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.carousel-inner > .item ,
.carousel-inner > .item > a {
  img {
    margin: auto;
    max-height: 400px;
  }
}



.box-item {
  >div {
    position: relative;
    display: inline-block;
    width: 100%;
    > img {
      margin: 0 auto;
      padding: 0 10px;
      max-height: 250px;
    }

    > a{
      position: absolute;
      text-align: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      opacity: 0;
      visibility: hidden;

      -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
            transition: all 0.5s ease;
      > i{
        vertical-align: middle;
        font-size: 36px;
        margin: 110px 0;
        @media (max-width: 786px){
          margin: 35% 0;
        }
      }
    }

    &:hover .img-hover{
      opacity: 1;
      visibility: visible;
    }
  }

}

.toggleBtn {
  margin: 10px 10px;
  position: relative;
  color: $color-constraste !important;
  transition-timing-function: ease-in;
}

.g-recaptcha{
  >div >div {
    margin: 0 auto;
  }
}

.form-horizontal{
  margin-top: 15px;
}

.btn-primary{
  color: #fff;
  $background: $color-constraste;
  $border: #214479;
  background-color: $background;
  border-color: $border;

  &:focus,
  &.focus {
    color: #fff;
    background-color: darken($background, 10%);
        border-color: darken($border, 25%);
  }
  &:hover {
    color: #fff;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
}
.cotizar {
  background-color: #eeeeee;
  border-radius: 5px;
}
.box {
  margin: 15px 0;
  > .box-header {
    background-color: $color-constraste;
    min-height: 40px;
    padding: 15px;
    >h4{
      color:white !important;
      font-size: 30px;
      text-align: center;
      background:transparent;

    }
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  > .box-body {
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 15px;
    min-height: 150px;
    >p{

     font-weight: bold;

    }
    ul>li>p{
      padding-left: 20px;
      text-transform: capitalize;
      i{
        padding-right: 5px;
      }
    }
  }
}

#confirmacion{
  text-align: center;
  background: #F5F1F2;
  border-radius: 5px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  .medio-padre{
    display: table;
    min-height: 300px;
    .medio-hijo{
      vertical-align: middle;
      display: table-cell;
    }
  }
  #imagen{
    max-width: 300px;
    margin: 0 auto;

  }
}
