.modal-content{
  >.modal-header{
    background-color: $color-constraste;
    color:white !important;
    text-align: center;
    font-size: 30px;
    >h4, >.close {
    background-color: $color-constraste;
    color:white !important;
    text-align: center;
    font-size: 30px;
    }
  }
}
.modal-body {
  .error-modal{
    margin: auto 5%;
  }
}
.modal-footer {
    background-color: #f9f9f9;
}
