#navbar{
  background:$color-nav-base;
  @media (min-width: 786px){
    border-radius: 10px;
  }
  min-height: 50px;
  .active > a{
    background-color:$color-realce;
    color: white;
  }
  a {
    border-right: black solid 1px;
    padding: 15px 25px;
    color:#d9c8be;

    &:hover{
      background-color:$color-realce;
      color:white;
    }
  }
}
.navbar-inverse, .navbar-toggle {
  background-color:$color-nav-base;
}
.navbar-toggle:hover, .navbar-toggle:focus{
  background-color:$color-realce !important;
}
.open{
  >a.dropdown-toggle {
     background-color:$color-realce !important;
  }
}

a.dropdown-toggle{
  >i {
    padding-left: 5px;
  }
}
.dropdown{
  position: relative;
  .dropdown-menu {
    width: 100% !important;
    min-width: 100px !important;
    background-color: $color-nav-base;
    padding: 0px !important;

    >li >a {
      border-right: none !important;
      border-bottom: black solid 1px;
    }

    >li:last-child >a {
      border-bottom: none;
    }

    @media (max-width: 786px){
      border: $color-realce 2px solid !important;
      padding-bottom: 5px;
      >li >a {
        border: none;
      }
    }
  }
}
