/*
 * Style tweaks
 * --------------------------------------------------
 */
.scroll{
  overflow-x:hidden;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
}
#sidebar {
    >.list-group {
        > h1 {
          position: relative;
          display: block;
          padding: 10px 15px;
          margin-bottom: -1px;
          background-color: #fff;
          border: 1px solid #ddd;
          color: $color-constraste;
          font-family: Merienda;
          @media (max-width: 786px) {
              font-size: 100%;
          }
        }
        > a {
            border-left: solid 3px #ddd;
            text-transform: capitalize;
            &.active , &:hover{
                border-color: #ddd;
                border-left: solid 3px $color-constraste;
                //background-color: $color-constraste;
                color: $color-constraste;
                background: #eee;
                font-weight: bold;

            }
        }
    }
}
