footer.footer
  .container
    hr
    .row
      .col-md-12.footer-body
        img(src="../images/logo.png",class="img-responsive")
        p Marian Party &copy; 2015 Todos los derechos reservados.
        p Diseño y Desarrollo por Dixon Garcia
        p
          a(href="#" data-toggle='modal', data-target='#modalSign') Acceso
          | &nbsp;&nbsp;|&nbsp;&nbsp;
          a(href="http://marianparty.com/webmail" target='_blank') Webmail
  +modal_sign
  +modal_loading
