.container
  #user.row
    .social.pull-right
      ul.list-inline
        li
          a#adminPanel(title='Panel Administrativo')
        li
          a#nameUser(title='Su Sesión')
        li
          a#closeUser(href='#' title='Cerrar Sesión')
            i.fa.fa-sign-out
.header
  .container-fluid
    .wrap
      .row
        .col-md-6.hidden-xs.pull-right
          .social.pull-right
            ul.list-unstyled
              li
                a(href="https://www.facebook.com/marianpartyeventos1" target="_blank" alt="Facebook")
                  i.fa.fa-facebook
                a(href="http://www.twitter.com/mariaparty1/" target="_blank"
                alt="Twitter")
                  i.fa.fa-twitter
                a(href='https://instagram.com/marianparty/' target="_blank")
                  i.fa.fa-instagram
                a(href="#" target="_blank")
                  i.fa.fa-youtube
                a(href='http://servicios.mercadolibre.com.ve/_CustId_152624280' target="_blank" alt="MercadoLibre")
                  i.fa.fa-shopping-cart
                a(href='mailto: info@marianparty.com' target="_blank")
                  i.fa.fa-inbox


        .col-md-6.col-xs-5
          a(href="/")
            img.img-logo(src="../images/logo.png",class="img-responsive")
        .contact-header.col-md-6.col-xs-7
          .row
            ul.list-unstyled(style="height:100%;")
              li.data-list
                .media-left
                  a
                    i.fa.fa-phone
                .media-body
                  h1 0424-5581498
              li.data-list
                .media-left
                  a
                    i.fa.fa-envelope
                .media-body
                  a(href="mailto:info@marianparty.com?Subject=Contacto%20MarianParty")
                    h1 info@marianparty.com
      .row
        .col-md-12
          nav.navbar.navbar-inverse(style= "margin-top 100px;")
            .container-fuild
              .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href="#").visible-xs Marian Party
              #navbar.collapse.navbar-collapse
                ul.navbar-nav.nav
                  each element,index in menu
                    if (element[0] == "Animaciones")
                      li.dropdown(class=location_page==index ? "active" : "")
                        a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")= element[0]
                          i.fa.fa-caret-down
                        ul.dropdown-menu
                          each e, i in element[1]
                            li
                              a(href='.'+e+".html" alt=i)= i
                    else
                      li(class=location_page==index ? "active" : "")
                        a(href="."+element[1]+".html" alt=element[0])= element[0]


              // /.nav-collapse
