mixin box-item(title,img)
  h2=title
  div
    img(src=img,href='#', role='button',data-toggle='modal',data-target='#myModal',data-title=title).img-responsive
    a.img-hover(href='#', role='button',data-toggle='modal',data-target='#myModal',data-title=title)
      i.fa.fa-search-plus
  p
    | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  p
    a.btn.btn-default(href='#', role='button',data-toggle='modal',data-target="#myModal",data-title=title) View details »
  // /.col-xs-6.col-lg-4

mixin modals(label,arrayImg,inModal)
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title(id="myModalLabel")
        .modal-body
          +modal_body(label,arrayImg,inModal)
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
      // /.modal-content
    // /.modal-dialog
  // /.modal

mixin modal_body(label,arrayImg,inModal)
  .row
    .col-md-6.col-xs-12
      +carousel(label,arrayImg,inModal)
    .col-md-6.col-xs-12
      h2 Sub Titulo
      p loreLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

mixin carousel(id,array,inModal)
  .carousel.slide(id=id+'Carousel',data-ride='carousel')
    // Indicators
    ol.carousel-indicators(class= inModal ? "invert" : "")
      each element,index in array
        if index === 0
          li.active(data-target='#'+id+'Carousel', data-slide-to='0')
        else
          li(data-target='#'+id+'Carousel', data-slide-to='"'+index+'"')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      each element, index in array
        if index === 0
          .item.active
            img(src=element)
        else
          .item
            img(src=element)
    // Left and right controls
    a.left.carousel-control(href='#'+id+'Carousel', role='button', data-slide='prev')
      span.icon-prev(aria-hidden='false')
      span.sr-only Anterior
    a.right.carousel-control(href='#'+id+'Carousel', role='button', data-slide='next')
      span.icon-next(aria-hidden='true')
      span.sr-only Siguiente

mixin toggleBtn()
  a.pull-left.visible-xs.toggleBtn(type='button', data-toggle='offcanvas')
    span.fa-stack.fa-lg
      i.fa.fa-square.fa-stack-2x
      i#bToggle.fa.fa-chevron-right.fa-stack-1x.fa-inverse

mixin modal_sign_in()
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button#closeModalSign.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4#myModalLabel.modal-title
            | Inicio Sesión
        .modal-body
          .row
            .col-md-12
              // Nav tabs
              ul.nav.nav-tabs
                li.active
                  a(href='#Login', data-toggle='tab') Acceder
                li
                  a(href='#Registration', data-toggle='tab') Registrarse
              // Tab panes
              .tab-content
                #Login.tab-pane.active
                  form.form-horizontal(role='form' action='')
                    .form-group
                      #errorLogin.error-modal
                    .form-group
                      label.col-sm-2.control-label(for='emailLogin')
                        | Email
                      .col-sm-10
                        input#emailLogin.form-control(type='email', placeholder='Email')
                    .form-group
                      label.col-sm-2.control-label(for='passwordLogin')
                        | Contraseña
                      .col-sm-10
                        input#passwordLogin.form-control(type='password', placeholder='Contraseña')
                    .row
                      .col-sm-2
                      .col-sm-10
                        button#signIn.btn.btn-primary.btn-sm(type='button')
                          | Iniciar Sesión
                        a(href='javascript:;',style="margin-left:5px;") ¿Olvidó su contraseña?
                #Registration.tab-pane
                  form#RegisForm.form-horizontal(role='form' action='')
                    .form-group
                      #errorRegistration.error-modal
                    .form-group
                      label.col-sm-2.control-label(for='name')
                        | Nombre y Apellido
                      .col-sm-10
                        .row
                          .col-md-3
                            select#abrName.form-control
                              option Sr.
                              option Sra.
                              option Sres.
                          .col-md-9
                            input#name.form-control(type='text', placeholder='¿Cuál es su nombre y Apellido?')
                    .form-group
                      label.col-sm-2.control-label(for='email')
                        | Email
                      .col-sm-10
                        input#email.form-control(type='email', placeholder='¿Cuál es su email?')
                    .form-group
                      label.col-sm-2.control-label(for='mobile')
                        | Teléfono
                      .col-sm-10
                        input#mobile.form-control(type='tel', placeholder='¿Cuál es su número telefónico')
                    .form-group
                      label.col-sm-2.control-label(for='company')
                        | Empresa
                        span(style="color:red;") *
                      .col-sm-10
                        input#company.form-control(type="text", placeholder='¿Cuál es el nombre de su empresa?')
                    .form-group
                      label.col-sm-2.control-label(for='city')
                        | Ciudad
                      .col-sm-10
                        input#city.form-control(type="text", placeholder='¿Cuál es tu locación?')
                    .form-group
                      label.col-sm-2.control-label(for='password')
                        | Contraseña
                      .col-sm-10
                        input#password.form-control(type='password', placeholder='Ingrese la contraseña de su preferencia')
                    .form-group
                      .col-sm-12
                        .g-recaptcha(data-sitekey='6LeHdBATAAAAAAdwxWWAeCJ0igsYkLEW33n94G5I')
                    em
                      span(style='color:red;font-weight:bold;margin-right:5px;') *
                      | Opcional

                    .row
                      .col-sm-2
                      .col-sm-10
                        button#signUp.btn.btn-primary.btn-sm(type='button')
                          | Crear cuenta
  script(src='https://www.google.com/recaptcha/api.js?hl=es-419' async defer )

mixin modal_cotizar()
  #modalCotizar.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4.modal-title
            | Cotizar
        .modal-body
          .row
            .col-md-12
              form.form-horizontal(role='form' action='')
                .form-group
                  #errorCotizar.error-modal
                .form-group
                  .col-sm-12
                    p Seleccione la ubicación de su evento
                .form-group
                  label.col-sm-2.control-label(for='estados')
                    | Estado
                  .col-sm-10
                    select#estados.form-control
                      option Seleccione
                .form-group
                  label.col-sm-2.control-label(for='ciudad') Ciudad
                  .col-sm-10
                    select#ciudad.form-control(disabled)
                      option Seleccione
                .form-group
                  label.col-sm-2.control-label(for='direccion') Direccion
                  .col-sm-10
                    textarea.form-control#direccion(row='4')
                .form-group
                  .col-sm-12
                    p Seleccione la fecha del evento
                .form-group
                  label.col-sm-2.control-label(for='fechaEvento') Fecha
                  .col-sm-10
                    input#fechaEvento(type='text').datepicker
               .row
                .col-sm-2
                .col-sm-10
                  button#confirmarCot.btn.btn-primary.btn-sm.pull-right(type='button')
                    | Confirmar Cotización

mixin modal_loading()
  #loading.modal(tabindex='-1', role='dialog', aria-labelledby='myModalLoading', aria-hidden='true')
    .loader
      span.ball
      span.ball2
      ul
        li
        li
        li
        li
        li

mixin modal_sign
  #modalSign.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4#mySignLabel.modal-title
            | Inicio Sesión
        .modal-body
          .row
            .col-md-12
              form.form-horizontal(role='form' action='')
                .form-group
                  #errorLoginFoo.error-modal
                .form-group
                  label.col-sm-2.control-label(for='emailLogin' style='color:#333333;')
                    | Email
                  .col-sm-10
                    input#emailLoginFoo.form-control(type='email', placeholder='Email')
                .form-group
                  label.col-sm-2.control-label(for='passwordLogin' style='color:#333333;')
                    | Contraseña
                  .col-sm-10
                    input#passwordLoginFoo.form-control(type='password', placeholder='Contraseña')
                .row
                  .col-sm-2
                  .col-sm-10
                    button#signInFoo.btn.btn-primary.btn-sm(type='button')
                      | Iniciar Sesión
                    a(href='javascript:;',style="margin-left:5px;") ¿Olvidó su contraseña?
