#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas
  .list-group(id="tabs",data-tabs="tabs", role="tablist")
    h1 #{name_page}
    -var x=0;
    each element,i in tabArray
      if x == 0
        a.list-group-item.active(href="#"+i,aria-controls=i, role="tab",data-toggle="tab")=element
        -x++
      else
        a.list-group-item(href="#"+i,aria-controls=i, role="tab",data-toggle="tab")=element
        -x++
    a#tabAll.list-group-item Todos
  // /.sidebar-offcanvas
