extends ../layouts/_default
include ../modules/_mixins

block vars

block content
  .row
    // /.sidebar-offcanvas
    #confirmacion.col-xs-12.col-sm-12
      .col-xs-6.col.sm-6
        img#imagen.img-responsive
      .col-xs-6.col.sm-6
        .medio-padre
          .medio-hijo
            h2#mensaje

  +modal_loading()

block scripts
  script(src="/scripts/confirmacion.js")
