extends ../layouts/_default
include ../modules/_mixins

block vars
  -var location_page = "anima"
  -var name_page = "Corporativo"
  -var tabArray = {"carnaval":"Carnaval","halloween":"Halloween","navidad":"Navidad","vacaciones":"Vacaciones"}
  -var imgModal = ['http://lorempixel.com/300/350/','http://lorempixel.com/300/350/','http://lorempixel.com/300/350/','http://lorempixel.com/300/350/']


block content
  .row.row-offcanvas.row-offcanvas-left
    include ../modules/_sidebar
    // /.sidebar-offcanvas
    .col-xs-12.col-sm-9
      .tab-content
        +toggleBtn()
        #carnaval.tab-pane.fade.in.active
          .jumbotron
            h1 Hello, Carnaval!
            p
              | This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
          .row
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
          // /row
        #halloween.tab-pane.fade
          .jumbotron
            h1 Hello, Halloween!
            p
              | This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
          .row
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
          // /row
        #navidad.tab-pane.fade
          .jumbotron
            h1 Hello, Navidad!
            p
              | This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
          .row
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
          // /row
        #vacaciones.tab-pane.fade
          .jumbotron
            h1 Hello, Vacaciones!
            p
              | This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
          .row
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
          // /row
    // /.col-xs-12.col-sm-9
  // /row

  +modals('modalSpider',imgModal,true)
block scripts
  script(src="/scripts/sidebar.js")
