extends ../layouts/_default
include ../modules/_mixins

block vars
  -var location_page = "buy"
  -var name_page = "Cotizar"

block content
  .row.cotizar
    .col-sm-7.col-xs-12
      .box
        .box-header.border-top-radius()
          h4 Servicios Marian Party
        .box-body
          p Seleccione las casillas de los servicios que desea contratar.
          #treeview-checkable
    .col-sm-5.col-xs-12
      .box
        .box-header
          h4 Su Selección
        .box-body
          p#seleccionUsuario
          ul.list-unstyled#checkable-output
          #btn-cotizar
  +modal_sign_in()
  +modal_cotizar()
block scripts
  script(src="/scripts/treeview.js")
  script(src="/scripts/cotizar.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/locales/bootstrap-datepicker.es.min.js")

