extends ../layouts/_default
include ../modules/_mixins

block vars
  -var location_page = "show"
  -var name_page = "Espectáculos"
  -var tabArray = {"ninnos":"Niños","ninnas":"Niñas"}
  -var imgModal = ['http://lorempixel.com/300/350/','http://lorempixel.com/300/350/','http://lorempixel.com/300/350/','http://lorempixel.com/300/350/']


block content
  .row.row-offcanvas.row-offcanvas-left
    include ../modules/_sidebar
    // /.sidebar-offcanvas
    .col-xs-12.col-sm-9
      .tab-content
        +toggleBtn()
        #ninnos.tab-pane.fade.in.active
          .jumbotron
            h1 Hello, Niños!
            p
              | This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
          .row
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
          // /row
        #ninnas.tab-pane.fade
          .jumbotron
            h1 Hello, Niñas!
            p
              | This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
          .row
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
            .box-item.col-xs-6.col-lg-4
              +box-item("Título",'http://lorempixel.com/400/400/')
          // /row
    // /.col-xs-12.col-sm-9
  // /row

  +modals('modalSpider',imgModal,true)
block scripts
  script(src="/scripts/sidebar.js")
