extends ../layouts/_default
include ../modules/_mixins

block vars
  -var location_page = "other"
  -var name_page = "Otros Servicios"
  -var tabArray = {"carnaval":"Carnaval","halloween":"Halloween","navidad":"Navidad","ninno":"Día del Niño"}
  -var imgModal = ['http://lorempixel.com/300/350/','http://lorempixel.com/300/350/','http://lorempixel.com/300/350/','http://lorempixel.com/300/350/']


block content
  .row
    // /.sidebar-offcanvas
    .col-xs-12.col-sm-12
      .jumbotron
        h1 Hello, #{name_page}!
        p
          | This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.
      .row
        .box-item.col-xs-6.col-lg-3
          +box-item("Título",'http://lorempixel.com/400/400/')
        .box-item.col-xs-6.col-lg-3
          +box-item("Título",'http://lorempixel.com/400/400/')
        .box-item.col-xs-6.col-lg-3
          +box-item("Título",'http://lorempixel.com/400/400/')
        .box-item.col-xs-6.col-lg-3
          +box-item("Título",'http://lorempixel.com/400/400/')
      // /row

  +modals('modalSpider',imgModal,true)
