extends ../layouts/_default
include ../modules/_mixins

block vars

block content
  .row
    // /.sidebar-offcanvas
    #confirmacion.col-xs-12.col-sm-12
      h1#mensaje Panel MarianParty.com
      ul.nav.nav-tabs
        li.active
          a(data-toggle='tab' href='#precios') Actualiazar Precios
        li
          a(data-toggle='tab' href='#suscriptores') Suscriptores
        li
          a(data-toggle='tab' href='#mostrarcotizaciones') Cotizaciones
      .tab-content
        .tab-pane.fade.in.active#precios
          .col-xs-12.col.sm-12
            h3 Modificar el precio de los servicios.
            form#panelForm.form-horizontal(role='form')
              .form-group
                .col-sm-5
                  .row
                    .col-sm-12
                      p(style='margin:15px 0 0 0;') Seleccione el servicio
                  .row
                    .col-sm-12
                      select#servicios.form-control
                        option Seleccione
                .col-sm-3
                  .row
                    .col-sm-12
                      p(style='margin:15px 0 0 0;') Precio actual
                  .row
                    .col-sm-12
                      input#viejo(type='text' readonly).form-control
                .col-sm-3
                  .row
                    p(style='margin:15px 0 0 0;') Nuevo Precio
                  .row
                    .col-sm-12
                      input#nuevo(type='text').form-control
                .col-sm-1
                  .row
                  .row
                    button#enviarPrecio(type='button' style='margin-top:30px;').btn.btn-primary Enviar
          .col-xs-12.col.sm-12
            .row
              hr
              h3 Modificar el precio de transporte por ubicación.
              form#estadosForm.form-horizontal(role='form')
                .form-group
                  .col-sm-3
                    .row
                      .col-sm-12
                        p(style='margin:15px 0 0 0;') Seleccione el estado
                    .row
                      .col-sm-12
                        select#estados.form-control
                          option Seleccione
                  .col-sm-3
                    .row
                      .col-sm-12
                        p(style='margin:15px 0 0 0;') Seleccione la ciudad
                    .row
                      .col-sm-12
                        select#ciudad.form-control
                          option Seleccione
                  .col-sm-2
                    .row
                      .col-sm-12
                        p(style='margin:15px 0 0 0;') Precio actual
                    .row
                      .col-sm-12
                        input#viejoTrans(type='text' readonly).form-control
                  .col-sm-2
                    .row
                      p(style='margin:15px 0 0 0;') Nuevo Precio
                    .row
                      .col-sm-12
                        input#nuevoTrans(type='text').form-control
                  .col-sm-2
                    .row
                    .row
                      button#enviarPrecioTrans(type='button' style='margin-top:30px;').btn.btn-primary Enviar
        .tab-pane.fade#suscriptores
          .col-sm-12.col-xs-12
            h3 Usuarios suscritos
            p Seleccione la cantidad de usuarios por lotes para ser usados al enviar correos.
            .col-sm-6.col-xs-6
              form#suscriptoresForm.form-horizontal(role='form')
                .form-group
                  p(style='margin:15px 0 0 0;') Seleccione la forma de mostrar los suscriptores
                  .form-group
                    label.col-sm-3.control-label(for='cantidad' style='color:#333333;')
                      | Cantidad
                    .col-sm-9
                      input#cantidad.form-control(type='number', placeholder='Cantidad de suscriptores por lote')
                  .form-group#Separador
                    label.col-sm-3.control-label(for='separador' style='color:#333333;')
                      | Separadores
                    .col-sm-9
                      label.radio-inline
                        input(type='radio' name='radioSeparador' value=';')
                        | ;
                      label.radio-inline
                        input(type='radio' name='radioSeparador' value=',')
                        | ,
                      label.radio-inline
                        input(type='radio' name='radioSeparador' value='|')
                        | |
                  .row
                    .col-sm-2
                    .col-sm-10
                      button#btnSuscriptores.btn.btn-primary.btn-sm(type='button')
                        | Mostrar
            .col-sm-6.col-xs-6
              h3 Resultado
              #suscriptoresResultado
        .tab-pane.fade#mostrarcotizaciones
          .col-sm-12.col-xs-12

block scripts
  script(src="/scripts/panel.js")
