extends ../layouts/_default
include ../modules/_mixins

block vars

block content
  .row
    // /.sidebar-offcanvas
    #confirmacion.col-xs-12.col-sm-12
      .row
        .col.sm-6.col-xs-6
          img#imagen.img-responsive(src="/images/utils/restablecer_tiger.jpg")
        .col.sm-6.col-xs-6#restableciendo

  +modal_loading()
block scripts
  script(src="/scripts/restablecer.js")
