              <!-- MODULE DIVIDER // -->
              <tr>
                <td align="center" valign="top">
                  <!-- CENTERING TABLE // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center" valign="top">
                        <!-- FLEXIBLE CONTAINER // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="500" class="flexibleContainer">
                          <tr>
                            <td align="center" valign="top" width="500" class="flexibleContainerCell">
                              <table class="flexibleContainerCellDivider" border="0" cellpadding="30" cellspacing="0" width="100%">
                                <tr>
                                  <td align="center" valign="top" style="padding-top:0px;padding-bottom:0px;">

                                    <!-- CONTENT TABLE // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                        <td align="center" valign="top" style="border-top:1px solid #C8C8C8;"></td>
                                      </tr>
                                    </table>
                                    <!-- // CONTENT TABLE -->

                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- // FLEXIBLE CONTAINER -->
                      </td>
                    </tr>
                  </table>
                  <!-- // CENTERING TABLE -->
                </td>
              </tr>
              <!-- // END -->
              <!-- MODULE ROW // -->
              <tr>
                <td align="center" valign="top">
                  <!-- CENTERING TABLE // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center" valign="top">
                        <!-- FLEXIBLE CONTAINER // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="500" class="flexibleContainer">
                          <tr>
                            <td align="center" valign="top" width="500" class="flexibleContainerCell">
                              <table border="0" cellpadding="30" cellspacing="0" width="100%">
                                <tr>
                                  <td align="center" valign="top">

                                    <!-- CONTENT TABLE // -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"  >
                                      <tr>
                                        <td valign="top" class="textContent">
                                          <h3 style="color:#5F5F5F;line-height:125%;font-family:Helvetica,Arial,sans-serif;font-size:20px;font-weight:normal;margin-top:0;margin-bottom:3px;text-align:left;">Siguenos por nuestras Redes sociales</h3>
                                          <table border="0" cellpadding="15" cellspacing="0" width="100%"bgcolor="#403a6b">
                                          <tr>
                                            <td>
                                              <a href="https://www.facebook.com/marianpartyeventos1" target="_blank">
                                                <img src="http://beta.marianparty.com/images/icons/facebook.png" width="50" class="flexibleImage center">
                                              </a>
                                            </td>
                                            <td>
                                              <a href="http://www.twitter.com/mariaparty1/" target="_blank">
                                                <img src="http://beta.marianparty.com/images/icons/twitter.png" width="50" class="flexibleImage center">
                                              </a>
                                            </td>
                                            <td>
                                              <a href="https://instagram.com/marianparty/" target="_blank">
                                                <img src="http://beta.marianparty.com/images/icons/instagram.png" width="50" class="flexibleImage center">
                                              </a>
                                            </td>
                                            <td>
                                              <a href="#" target="_blank">
                                                <img src="http://beta.marianparty.com/images/icons/you-tube.png" width="50" class="flexibleImage center">
                                              </a>
                                            </td>
                                          </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- // CONTENT TABLE -->

                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- // FLEXIBLE CONTAINER -->
                      </td>
                    </tr>
                  </table>
                  <!-- // CENTERING TABLE -->
                </td>
              </tr>
              <!-- // MODULE ROW -->

            <!-- EMAIL FOOTER // -->
            <!--
              The table "emailBody" is the email's container.
              Its width can be set to 100% for a color band
              that spans the width of the page.
            -->
            <table bgcolor="#E1E1E1" border="0" cellpadding="0" cellspacing="0" width="500" id="emailFooter">

              <!-- FOOTER ROW // -->
              <!--
                To move or duplicate any of the design patterns
                in this email, simply move or copy the entire
                MODULE ROW section for each content block.
              -->
              <tr>
                <td align="center" valign="top">
                  <!-- CENTERING TABLE // -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center" valign="top">
                        <!-- FLEXIBLE CONTAINER // -->
                        <table border="0" cellpadding="0" cellspacing="0" width="500" class="flexibleContainer">
                          <tr>
                            <td align="center" valign="top" width="500" class="flexibleContainerCell">
                              <table border="0" cellpadding="30" cellspacing="0" width="100%">
                                <tr>
                                  <td valign="top" bgcolor="#E1E1E1">

                                    <div style="font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#828282;text-align:center;line-height:120%;">
                                      <div>Copyright &#169; 2016 <a href="http://www.marianparty.com" target="_blank" style="text-decoration:none;color:#828282;"><span style="color:#828282;">MarianParty</span></a>. Todos&nbsp;los&nbsp;derechos&nbsp;reservados.</div>
                                      <div>Si no quieres recibir correso de nosotros, tu puedes <a href="#" target="_blank" style="text-decoration:none;color:#828282;"><span style="color:#828282;">darte de baja</span></a>.</div>
                                    </div>

                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- // FLEXIBLE CONTAINER -->
                      </td>
                    </tr>
                  </table>
                  <!-- // CENTERING TABLE -->
                </td>
              </tr>

            </table>
            <!-- // END -->

          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
