extends layouts/_default
include modules/_mixins

block vars
  -var location_page = "home"



block content
    .row
      .col-md-12
        -var array = ['/images/utils/sliderPrincipal-0.jpg','/images/utils/sliderPrincipal-1.jpg','/images/utils/sliderPrincipal-2.jpg','/images/utils/sliderPrincipal-3.jpg','/images/utils/sliderPrincipal-4.jpg','/images/utils/sliderPrincipal-5.jpg']
        +carousel("indexCarousel", array)








