block vars
doctype html
html
  head
    meta(charset="utf-8")
    title= index.title +" | "+ name_page
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Language" content="es")
    meta(name="Keywords" content="Eventos,Show,Disfraces,Animaciones,Niños,Fiestas,Princesas,Heroes")
    meta(name="Description" content="Espectaculos para niños, adultos y corporativos")
    meta(name="Distribution" content="global")
    meta(name="Robots" content="all")
    link(rel="author" href="humans.txt")
    link(rel="shortcut icon", href="/favicon.ico")
    //- build:css /styles/vendor.min.css -->
    //- endbuild -->
    //- build:css({.tmp,app}) /styles/main.min.css -->
    // bower:css
    link(rel='stylesheet', href='../bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.css')
    // endbower
    link(rel="stylesheet", href="/styles/main.css")
    //- endbuild -->
    link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merienda|Ubuntu")



  body
    .container-fluid
    include ../modules/_header

    .container
      block content

    // /.container

    include ../modules/_footer

    //- build:js(./app/) /scripts/vendor.min.js -->
    // bower:js
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
    script(src='../bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='../bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.js')
    // endbower
    //- endbuild -->
    //- build:js(.tmp) /scripts/plugins.min.js -->
    //- endbuild -->
    //- build:js(.tmp) /scripts/main.min.js -->
    script(src="/scripts/main.js")
    block scripts

    //- endbuild -->
